* {
    padding: 0;
    margin: 0;
    }

body{
    /*width: 70vw;*/
    width: 950px;
    margin: 5px auto 40px auto;
    margin-top: 20px;
    background-image: url(../images/background-image-2.jpeg);
}


bg{
    /*width: 70vw;*/
    width: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70vw;
}

#main-nav { 
    /*position: fixed;*/
    /*top: 0; Positions this at top of page*/
    width: 950px;
    height: 50px;
    display:flex;
    text-align: center;
    justify-content: flex-end;
    font-size: 25px;
    background-color: #404040;
} 

#recipe-nav { 
    /*position: fixed;*/
    /*top: 0; Positions this at top of page*/
    width: 950px;
    height: 50px;
    display:flex;
    text-align: center;
    justify-content: flex-end;
    font-size: 25px;
    background-color: #404040;
} 

nav li {
   display:inline-block; 
   padding: 5px 5px;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
  text-decoration: none;
  color: #EE7500;
}


#main-head{
    /*position: fixed;*/
    top: 20px;
    height: 70px;
    width: 950px;
    flex-direction: row;
    text-align: center;
    background-color: #404040; 
    font-size: 150%;
    color: #ffffff;
    font-family: Arvo;
    letter-spacing: 8px;
}

#recipe-header{
    /*position: fixed;*/
    top: 20px;
    height: 70px;
    width: 950px;
    flex-direction: row;
    text-align: center;
    background-color: #404040; 
    font-size: 150%;
    color: #ffffff;
    font-family: Arvo;
    letter-spacing: 8px;
}

h1 {
    text-align: center;
} 


#image-menu{
    /*height: 850px;*/
    height: 100vh;
    width: 950px;
    vertical-align: middle;
    background-color: #f5f5f0;
}

#recipe-links{
     display: block;
     height: 100px;
     width: 950px;
     top: 150px;
     background-color: #f5f5f0;
     text-align: center;
     justify-content: space-evenly;
     padding-top: 20px; /*Added to provide space between links and header*/
}

#recipe-links a{
    text-decoration: none;
    color: #ffffff;
    /*background-color: #39ac39;*/
    
}

.button{
    /*display: inline-block;*/
    height: 100px;
    width: 150px;
    background-color: #404040;
    padding: 5px;
    margin-top: 10px;
}



figcaption{
    text-align: center;
    text-decoration: none;
}

figcaption a{
    color: green;
    font-size: medium;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
}

#home{
    height: 100vh; /*To make it fit height of screen*/
    width: 50vw;
    height: auto;
   /*width: 950px;*/
    align-items: center;
}

.food-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.food-images img{
    width: auto;
    height: auto;
    border-radius: 50%;
}


#recipe-section{
    background-color: #f5f5f0;
    vertical-align: middle;
}


#recipe-section img{
    margin-left: auto;
    margin-right: auto;
    color: #404040;
}

#recipe-section a{
    color: #001a00;
    font-size: medium;
}

.recipe-layout{
    display: block;
    width: 950px;
    text-align: center;
    padding-bottom: 50px;
}

.recipe-layout h3{
    font-family: Arvo;
    font-size: 40pt;
    color: #393D40;
    font-style: italic;
    text-align: center;
}

/*Add font family to this*/
.recipe-layout h4{
    color: #393D40;
    font-size: 14pt;
}

/*Add font family to this*/
.recipe-layout p{
    font-size: 10pt;
    color: #393D40;
}

.recipe-head {
    text-align: center;
    padding-top: 30px;
}

/*This should be centered*/
.link-top {
    font-size: large;
    text-decoration: none;
    background-color: #ffffff;
    text-align: center;
    /*background-color: #404040; */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link-top a{
    color: #ffffff;
    text-decoration: none;
}

footer{
    bottom: 0;
    position: fixed; /*Do I NEED TO ADD MORE TO THIS?*/
    height: 25px;
    width: 950px;
    padding-top: 9px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #404040;
    color: #EE7500;
    font-size: large;
}



footer a{
    text-decoration: none;
}



